<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/main.css">
        <title>G1Cotis</title>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        <header>
            <h1>Ğ1Cotis</h1>
            <nav>
                <p><a href="/">Accueil</a></p>
                {% if app.user %}
                <p><a href="/user">Mon espace</a></p>
                <p><a href="/logout">Me déconnecter</a></p>
                {% else %}
                <p><a href="/login">Me connecter</a></p>
                <p><a href="/registration">M'inscrire</a></p>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

    </body>
</html>
